& {
    display: flex;
    flex-direction: column;
    padding-top: px(120);
    padding-bottom: px(126);
    padding-left: px(110);
    border-bottom: 1px dashed $midGray;
    background: $white;

    .container {
        .title {
            color: $gray;
            font-family: Kurale;
            font-size: px(48);
            font-weight: normal;
            letter-spacing: px(4);
            text-transform: uppercase;

            &::after {
                content: '';
                display: block;
                width: px(60);
                height: px(4);
                margin-top: px(24);
                border-radius: px(2);
                background-color: $midGray;
            }
        }

        .content {
            display: flex;
            margin-top: px(102);

            .leftBlock {
                margin-right: px(268);

                .name {
                    color: $black;
                    font-size: px(60);
                }

                .subtitle {
                    display: inline-block;
                    margin-top: px(2);
                    color: $darkGray;
                    font-family: Kurale;
                    font-size: px(40);
                }

                .description {
                    width: px(1198);
                    margin-top: px(50);
                    color: $black;
                    font-family: Georgia;
                    font-size: px(36);
                    line-height: px(54);
                }

                .allBooks {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: px(384);
                    height: px(112);
                    margin-top: px(90);
                    border: 2px solid $green;
                    border-radius: px(56);
                    color: $green;
                    font-size: px(32);
                    font-weight: bold;
                }
            }

            .rightBlock {
                display: flex;
                flex-direction: column;
                align-items: center;

                .image {
                    width: px(304);
                    height: px(304);
                    margin-top: px(6);
                    background-image: url('../../../Assets/photo.png');
                    background-size: cover;
                }

                .number {
                    display: flex;
                    position: relative;
                    align-items: center;
                    width: max-content;
                    height: px(64);
                    margin-top: px(48);
                    padding: 0 px(32);
                    border-top: 2px solid $red;
                    border-bottom: 2px solid $red;
                    color: $red;
                    font-size: px(38);
                    font-weight: bold;

                    .labelStart {
                        position: absolute;
                        left: px(-10);
                        width: px(16);
                    }

                    .labelEnd {
                        position: absolute;
                        top: px(-4);
                        right: px(-10);
                        width: px(16);
                        transform: rotate(180deg);
                    }
                }

                .booksOnWebsite {
                    margin-top: px(16);
                    color: $darkGray;
                    font-size: px(28);
                    font-style: italic;
                }
            }
        }
    }
}
