@import './common';

& {
    .rowItems {
        justify-content: center;

        .item {
            padding: 0 px(26);

            &:last-of-type {
                padding: 0;
            }
        }
    }
}
