& {
  background-color: $white;
  color: $black;
  margin: 0;
  font-family: Georgia;

  padding: 61px 147px 65px 56px;
  padding: px(122) px(294) px(130) px(112);
  border-bottom: dashed 1px $midGrey; // #b1babf in PSD
  border-bottom: dashed px(2) $midGrey; // #b1babf in PSD

  .header {
    color: $grey;
    font-size: 23px;
    font-size: px(46);
    font-family: 'Kurale';
    text-transform: uppercase;
    letter-spacing: 3px;
    letter-spacing: px(6);

    &:after {
      display: block;
      height: 2px;
      height: px(4);
      width: 30px;
      width: px(60);
      background-color: $grey;
      content: '';
      border-radius: 1px;
      border-radius: px(2);
      margin-top: 13px;
      margin-top: px(26);
    }
  }

  .mainContainer {
    display: flex;
    margin-top: 42px;
    margin-top: px(84);
    justify-content: space-between;

    .content {
      order: 1;
      order: 1;
      width: 601px;
      width: px(1202);
      font-size: 18px;
      font-size: px(36);
      line-height: 27px;
      line-height: px(54);

      &:first-letter {
        float: left;
        font-family: 'Kurale';
        font-size: 56px;
        font-size: px(112);
        padding-top: 14px;
        padding-top: px(28);
        padding-right: 9px;
        padding-right: px(18);
      }
    }

    .information {
      order: 2;
      margin-top: 25px;
      margin-top: px(50);

      .value1 {
        color: $black;
        font-size: 15px;
        font-size: px(30);
        font-size: 20px;
        font-size: px(40);
        font-family: "PT Sans";
      }

      .attribute1 {
        color: $darkGrey; /* #757c80 in .psd */
        font-size: 16px;
        font-size: px(32);
        font-family: 'Kurale';
        margin-top: 1px;
        margin-top: px(2);
      }

      .value2 {
        color: $black;
        font-size: 15px;
        font-size: px(30);
        font-size: 20px;
        font-size: px(40);
        font-family: "PT Sans";
        margin-top: 36px;
        margin-top: px(72);
      }

      .attribute2 {
        color: $darkGrey; /* #757c80 in .psd */
        font-size: 16px;
        font-size: px(32);
        font-family: 'Kurale';
        margin-top: 1px;
        margin-top: px(2);
      }

      .value3 {
        color: $black;
        font-size: 15px;
        font-size: px(30);
        font-size: 20px;
        font-size: px(40);
        font-family: "PT Sans";
        margin-top: 36px;
        margin-top: px(72);
      }

      .attribute3 {
        color: $darkGrey; /* #757c80 in .psd */
        font-size: 16px;
        font-size: px(32);
        font-family: 'Kurale';
        margin-top: 1px;
        margin-top: px(2);
      }

      .value4 {
        color: $black;
        font-size: 15px;
        font-size: px(30);
        font-size: 20px;
        font-size: px(40);
        font-family: "PT Sans";
        margin-top: 36px;
        margin-top: px(72);
      }

      .attribute4 {
        color: $darkGrey; /* #757c80 in .psd */
        font-size: 16px;
        font-size: px(32);
        font-family: 'Kurale';
        margin-top: 1px;
        margin-top: px(2);
      }
    }
  }
}
