& {
    margin: 0;
    padding: px(122) px(294) px(130) px(112);
    border-bottom: dashed px(2) $midGrey1;
    background-color: $white;
    color: $black;
    font-family: Georgia;

    .header {
        color: $grey;
        font-family: 'Kurale';
        font-size: px(46);
        letter-spacing: px(6);
        text-transform: uppercase;

        &::after {
            display: block;
            width: px(60);
            height: px(4);
            margin-top: px(26);
            border-radius: px(2);
            background-color: $midGrey1;
            content: '';
        }
    }

    .mainContainer {
        display: flex;
        justify-content: space-between;
        margin-top: px(84);

        .content {
            order: 1;
            width: px(1202);
            font-size: px(36);
            line-height: px(54);

            &::first-letter {
                padding-top: px(28);
                padding-right: px(18);
                float: left;
                font-family: 'Kurale';
                font-size: px(112);
            }
        }

        .information {
            order: 2;
            margin-top: px(50);

            .value1 {
                color: $black;
                font-family: 'PT Sans';
                font-size: px(40);
            }

            .attribute1 {
                margin-top: px(2);
                color: $darkGrey1;
                font-family: 'Kurale';
                font-size: px(32);
            }

            .value2 {
                margin-top: px(72);
                color: $black;
                font-family: 'PT Sans';
                font-size: px(40);
            }

            .attribute2 {
                margin-top: px(2);
                color: $darkGrey1;
                font-family: 'Kurale';
                font-size: px(32);
            }

            .value3 {
                margin-top: px(72);
                color: $black;
                font-family: 'PT Sans';
                font-size: px(40);
            }

            .attribute3 {
                margin-top: px(2);
                color: $darkGrey1;
                font-family: 'Kurale';
                font-size: px(32);
            }

            .value4 {
                margin-top: px(72);
                color: $black;
                font-family: 'PT Sans';
                font-size: px(40);
            }

            .attribute4 {
                margin-top: px(2);
                color: $darkGrey1;
                font-family: 'Kurale';
                font-size: px(32);
            }
        }
    }
}
