@import 'Reset';
@import 'Palette';

@import 'Fonts/PTSans';

$baseFont: 'PT Sans';
$baseFontSize: 16px;

$baseMinWidth: 320px;

html {
    font-family: $baseFont;
    font-size: $baseFontSize;
    // Disable touch highlight on Apple devices
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    // Disable font-size change on Apple devices
    text-size-adjust: 100%;
}

body {
    min-width: $baseMinWidth;
    background-color: $white;
    color: $black;
}
