@import 'MediaQueries';

.container {
    padding: 0;

    @media #{$desktop} {
        margin: 0 auto;
        width: 1024px;
    }

    @media #{$desktopWide} {
        margin: 0 auto;
        width: 1024px;
    }

    @media #{$desktopHD} {
        margin: 0 auto;
        width: 1024px;
    }

    @media #{$desktopMega} {
        margin: 0 auto;
        width: 1024px;
    }
}
