$blue: #16c2e1;
$red: #f0766d;
$green: #65bf80;
$white: #fff;
$lightGrey: #f5f7f7;
$midGrey: #a8b8bf;
$grey: #879399;
$darkGrey: #707a80;
$black: #393d40;


$grey1: #8f989d;
$darkGrey1: #757c80;
$midGrey1: #b1babf;
$midGrey2: #b6bcbf;
$midGrey3: #b5c1c8;
