$white: #fff;
$lightGray: #f5f7f7;
$midGray: #a8b8bf;
$gray: #879399;
$darkGray: #707a80;
$black: #393d40;
$blue: #16c2e1;
$red: #f0766d;
$green: #65bf80;
$custom1: rgba(0, 0, 0, .8);
$custom2: rgba(0,0,0,.1);
$custom3: #844cff;
$custom4: rgba(224, 229, 232, 30);
$custom5: rgba(0, 0, 0, .05);
