$mainColor1: #fff;
$mainColor2: #000;
$mainColor3: #f8d449;
$mainColor4: #2793b2;
$mainColor5: #bf3f2e;
$mainColor6: #0b2226;
$commonColor1: #606b6d;
$commonColor2: #6d7c7c;
$commonColor3: rgba(255, 255, 255, .7);
$commonColor4: #f3f4f4;
$commonColor5: #dfe0e1;
$commonColor6: #b7c3c5;
$commonColor7: #d1dddd;
$commonColor8: rgba(6, 18, 20, .8);
$commonColor9: rgba(0, 0, 0, .4);
$commonColor10: #091a1e;
$commonColor11: #7f8e91;
$commonColor12: #5e6b6e;
$gradient1: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .21) 32%, rgba(0, 0, 0, .65) 100%);
$tempColor1: #e8e9e9;
$tempColor2: #6e7b7d;
$tempColor3: #909799;
$tempColor4: #b7bdbf;
$tempColor5: #516569;
$tempColor6: #386596;
$tempColor7: #d7981b;
$tempColor8: #ac4a3d;
$tempColor9: #3a6885;
$tempColor10: #765d2d;
$tempColor11: #aab0b2;
$tempColor12: #2993b3;
$tempColor13: #354042;
$tempColor14: #9b9b9b;
$tempColor15: #d1d3d4;
$tempColor16: #bf3f2e;
$tempColor17: #a5a8aa;
$tempColor18: rgba(255, 255, 255, .2);
$tempColor19: rgba(200, 217, 221, .3);
$tempColor20: rgba(200, 217, 221, .12);
$tempColor21: #c8d9dd;
$tempColor22: #7a888a;
$tempColor23: #cbcfd0;
$tempColor24: #17272b;
$tempColor25: rgba(200, 217, 221, .6);
$tempColor26: #aeb3b4;
