@function pxMedia($px, $media) {
    $k: 0;
    $m: 1vw;
    @if $media == phonePortrait {
        $k: .1562500;
    } @else if $media == phoneLandscape {
        $k: .08803;
    } @else if $media == tabletPortrait {
        $k: .065106;
    } @else if $media == tabletLandscape {
        $k: .04882826;
    } @else if $media == desktop {
        $k: 0.5;
        $m: 1px;
    } @else if $media == desktopWide {
        $k: 0.5;
        $m: 1px;
    } @else if $media == desktopHD {
        $k: 0.5;
        $m: 1px;
    } @else if $media == desktopMega {
        $k: 0.5;
        $m: 1px;
    }

    @return $px * $k * $m;
}
