& {
    padding: px(90) px(40) px(82);
    border-bottom: dashed px(2) $midGrey;
    background-color: $white;
    color: $black;
    font-family: Georgia;

    .header {
        color: $grey;
        font-family: 'Kurale';
        font-size: px(38);
        letter-spacing: px(6);
        text-transform: uppercase;

        &::after {
            display: block;
            width: px(50);
            height: px(4);
            margin-top: px(28);
            border-radius: px(2);
            background-color: $midGrey3;
            content: '';
        }
    }


    .mainContent {
        margin: px(80) px(22) 0;

        .information {
            display: flex;
            justify-content: flex-start;
            font-size: px(38);

            .pageCount {
                width: px(168);

                .value1 {
                    color: $black;
                    font-family: 'PT Sans';
                    font-size: px(38);
                    line-height: px(28);
                }

                .attribute1 {
                    margin-left: px(2);
                    color: $grey1;
                    font-family: 'Kurale';
                    font-size: px(30);
                }
            }

            .editionYear {
                width: px(194);

                .value2 {
                    color: $black;
                    font-family: 'PT Sans';
                    font-size: px(38);
                    line-height: px(28);
                }

                .attribute2 {
                    color: $grey1;
                    font-family: 'Kurale';
                    font-size: px(30);
                }
            }

            .editionCount {
                width: px(250);

                .value3 {
                    color: $black;
                    font-family: 'PT Sans';
                    font-size: px(38);
                    line-height: px(28);
                }

                .attribute3 {
                    margin-left: px(4);
                    color: $grey1;
                    font-family: 'Kurale';
                    font-size: px(30);
                }
            }

            .paper {
                .value4 {
                    color: $black;
                    font-family: 'PT Sans';
                    font-size: px(38);
                    line-height: px(28);
                    text-transform: capitalize;
                }

                .attribute4 {
                    color: $grey1;
                    font-family: 'Kurale';
                    font-size: px(30);
                }
            }
        }

        .content {
            margin: px(66) 0 0 px(2);
            font-size: px(34);
            line-height: px(48);
        }
    }
}
