@import './common';

& {
    .mainContent {
        margin: px(80) px(20) 0;

        .information {
            .pageCount {
                width: px(140);

                .value1 {
                    line-height: px(30);
                }

                .attribute1 {
                    color: $darkGrey;
                }
            }

            .editionYear {
                width: px(172);

                .value2 {
                    line-height: px(30);
                }

                .attribute2 {
                    color: $darkGrey;
                }
            }

            .editionCount {
                .value3 {
                    line-height: px(30);
                }

                .attribute3 {
                    color: $darkGrey;
                }
            }
        }

        .content {
            margin-left: px(4);
        }
    }
}
