& {
    padding: px(92) px(616) px(58);

    .btnRow {
        display: flex;
        justify-content: space-between;

        .button {
            display: block;
            width: px(368);
            height: px(128);
            border: px(4) solid;
            border-radius: px(64);
            font-size: px(32);
            font-weight: bolder;
            line-height: px(124);
            text-align: center;
        }

        .btnContacts {
            border-color: $red;
            color: $red;

            &:hover {
                transition: all .3s;
                background-color: $red;
                color: $white;
            }
        }

        .btnWriteToUs {
            border-color: $midGray;
            color: $gray;

            &:hover {
                transition: all .3s;
                background-color: $midGray;
                color: $white;
            }
        }

    }

    .copyright {
        margin-top: px(94);
        color: $darkGray;
        font-size: px(26);
        line-height: px(24);
        text-align: center;

        .bold {
            font-weight: bolder;
        }
    }
}
