& {
    padding: px(46) px(122) px(44);
    border-top: dashed px(2) $midGray;

    .buttons {
        display: flex;
        justify-content: space-between;

        .btnContacts {
            height: px(96);
            border: px(2) solid $red;
            border-radius: px(48);
            color: $red;
            font-size: px(30);
            line-height: px(96);

            a {
                padding: px(32) px(62);
            }
        }

        .btnWriteToUs {
            display: flex;
            align-items: center;
            justify-content: center;
            width: px(96);
            height: px(96);
            border: px(2) solid $midGray;
            border-radius: px(48);

            a {
                padding: px(48);

                .envelope {
                    width: px(40);
                }
            }
        }
    }

    .copyright {
        margin-top: px(44);
        color: $darkGray;
        font-size: px(20);
        line-height: px(24);
        text-align: center;
    }
}
