& {
    padding: px(46) px(124) px(44);
    border-top: dashed px(2) $midGray;

    .btnRow {
        display: flex;
        justify-content: space-between;

        .button {
            height: px(96);
            border: px(2) solid;
            border-radius: px(48);
        }

        .btnContacts {
            display: block;
            width: px(250);
            border-color: $red;
            color: $red;
            font-size: px(30);
            line-height: px(96);
            text-align: center;
        }

        .btnWriteToUs {
            display: flex;
            align-items: center;
            justify-content: center;
            width: px(96);
            border-color: $midGray;

            .envelope {
                width: px(40);
            }
        }
    }

    .copyright {
        margin-top: px(44);
        color: $darkGray;
        font-size: px(20);
        line-height: px(24);
        text-align: center;
    }
}
