@import 'desktopCommon';

& {
    padding: px(78) px(440) px(54);

    .btnRow {
        .button {
            width: px(298);
            height: px(104);
            border-width: px(2);
            font-size: px(30);
            line-height: px(102);
       }
    }

    .copyright {
        margin-top: px(62);
        font-size: px(22);
    }
}
