& {
    padding-top: px(88);
    padding-bottom: px(84);
    padding-left: px(40);
    background: #fff;
    border-bottom: 1px dashed #a8b8bf;

    .title {
        font-family: Kurale;
        color: #879399;
        font-size: px(40);
        letter-spacing: px(4);
        text-transform: uppercase;
        font-weight: normal;

        &::after {
            display: block;
            margin-top: px(28);
            background-color: #a8b8bf;
            width: px(50);
            height: px(4);
            border-radius: px(2);
            content: '';
        }
    }

    .container {
        display: flex;
        margin-top: px(80);
        padding-left: px(20);

        .image {
            width: px(152);
            height: px(152);
            margin-right: px(40);
            background-image: url('../../../Assets/photo.png');
            background-size: cover;
        }

        .block {
            .name {
                margin-top: px(4);
                font-size: px(34);
                color: #393d40;
            }

            .subtitle {
                font-family: Kurale;
                margin-top: px(2);
                color: #707a80;
                font-size: px(28);
            }
        }

        .allBooks {
            display: flex;
            align-items: center;
            margin-top: px(28);
            border: 1px solid #65bf80;
            width: px(280);
            height: px(48);
            padding-left: px(26);
            border-radius: px(24);
            font-size: px(28);
            color: #65bf80;

            .arrow {
                width: px(10);
                margin-left: px(14);
            }
        }
    }

    .description {
        width: px(514);
        margin-top: px(84);
        margin-left: px(20);
        font-family: Georgia;
        color: #393d40;
        font-size: px(34);
        line-height: px(48);
    }
}
